# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war
*.ear
*.log

# =========================
# Eclipse
# =========================
.settings/
.metadata/
bin/
*.launch

# =========================
# TestNG
# =========================
test-output/

# =========================
# Allure
# =========================
allure-results/
allure-report/

# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db
